*  {
    box-sizing: border-box;
}

@media screen and (max-width: 769px) {

    .games-img {
        width:94%;
        margin: 3%;
    }

    .game-description {
        background-color: #1c2237;
        color: lightseagreen;
        display: grid;
        width: 100%;
        height: 475px;
        align-items: center;
    }
    .paragraaf {
        text-align: center;
        padding-bottom: 50px;
    }

    .tipsntrick {
        margin: 3% 3% 2% 2%;
        width: 94%;
        display: block;

    }
    .extra-img{
        margin: 3% 3% 2% 2%;
        width: 94%;
        display: block;
    }
    .link-item {
        text-decoration: none;
        color: lightseagreen;
        height: auto;
        padding-bottom: 4%;
    }

}

@media screen and (min-width: 769px) {
    .games-img{
        width: 80%;
        margin: 1% 10% 1% 10%;
    }

    .game-description {
        display: block;
        background-color: #1c2237;
        color: lightseagreen;
        width: 100%;
        height: auto;
        align-items: center;
        padding-bottom: 3%;
    }

    .paragraaf {
        height: auto;
        text-align: center;
    }

    .tipsntrick {
        display: block;
        margin: 3% 10% 1% 22%;
    }

    .extra-img{
        margin: 3% 10% 1% 22%;
    }
    .link-item {
        text-decoration: none;
        color: lightseagreen;
    }
}


@media screen and (min-width: 1200px) {
    .game-page{
        padding-bottom: 50px;
    }
    .games-img{
        width: 60%;
        margin-left: 20%;
        padding-bottom: 20px;
    }

    .game-img{
        margin: 1% 18% 1% 26%;
    }

    .game-description {
        display: grid;
        width: 100%;
        height: auto;
        align-items: center;
        margin-top: 0;
        padding-bottom: 20px;
    }
    .paragraaf {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .tipsntrick {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        padding-top: 20px;
        margin: 1% 0 1% 10%;
    }
    .extra-img{
        display: block;
        margin-left: 33%;
    }

    .link-item {
        text-decoration: none;
        color: lightseagreen;
    }

}


