h2 {
    text-align: center;
    margin-left: 130px;
    color: lightseagreen;
}
.registreer-pagina {
    width: 100%;
    height: auto;
    background-image: url("https://wallpaperaccess.com/full/13453.jpg");
    padding-bottom: 100px;
}

.input {
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

.password {
    height: 30px;
    width: 200px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

.registreer-container {
    display: grid;
    background-color: lightseagreen;
    width: 40%;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-left: 500px;
    margin-bottom: 50px;
    border: 1px solid;
    border-radius: 25px;
    padding: 25px;
}

.registreer-button {
    margin: 5% 0;
    height: 40px;
    background-color: #1c2237;
    color: lightseagreen;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
}

.registreer-button:disabled{
    display: none;
}

@media screen and (max-width: 769px){
    h2 {
        text-align: center;
        margin-right: 15%;
        color: lightseagreen;
    }


    .registreer-pagina {
        height: auto;
        background-image: url("https://wallpaperaccess.com/full/13453.jpg");
        padding-bottom: 50px;
    }

    .input {
        height: 30px;
        border: 1px solid;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .password {
        height: 30px;
        width: 200px;
        border: 1px solid;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
    }

    .registreer-container {
        display: grid;
        width: 80%;
        justify-content: center;
        text-align: center;
        margin-top: 70px;
        margin-left: 10%;
        border: 1px solid;
        border-radius: 25px;
        padding: 25px;
    }
    .registreer-label {
        margin-bottom: 10px;
    }
}
