@media screen and (max-width: 769px){
    .account-page {
        width: 100%;
        height: auto;
        text-align: center;
        background-color: #1c2237;
        color: lightseagreen;
    }

   .file-input {
       width: 200px;
       height: 32px;
       border: 1px solid black;
       margin-left: 100px;
   }

}

@media screen and (min-width: 1200px){

    .account-page {
        display: grid;
        width: 100%;
        height: auto;
        text-align: center;
        background-color: #1c2237;
        color: lightseagreen;
        align-items: center;
    }
    .profile-img{
        max-height: 335px;
        max-width: 600px;
    }

    .file-input {
        background-color: lightseagreen;
        width: 300px;
        height: 32px;
        border: 1px solid black;
        border-radius: 12px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .save-button {
        margin-left: 533px;
        margin-top: 10px;
        display: block;
        width: 200px;
        height: 32px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: darkblue;
        color: lightseagreen;
    }
    .game-input{
        width: 200px;
        height: 24px;
    }
    

}
