.new-post {
    display: grid;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}
.post-title{
    padding-right: 100px;
}
.posttitle {
    align-items: center;
}
.picture {
    margin-top: 10px;
    margin-bottom: 5px;
    max-width: 600px;
    max-height: 365px;
}
