.hardware-container {
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
}

.hardware-img {
    margin-top: 10px;
}

@media screen and (max-width: 769px) {
    .hardware-img {
        margin-right: 25px;
    }

}
