@media screen and (min-width: 1200px){
.comment-section {
    width: 90%;
    border: 1px solid black;
    margin-top: 1%;
}
.comment-heading {
    background-color: lightseagreen;
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    height: 40px;
}
.comment-text {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 800px;
}

.error-message{
    color: black;
    text-decoration: underline;
    height: 30px;
    width: 600px;
    margin-left: 300px;
}
.delete-comment {
    cursor: pointer;
    margin-left: 73%;
}

.adjust-comment {
    margin-left: 100px;
    cursor: pointer;
}
.comment {
    text-align: start;
    margin-left: 10px;
}
p {
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.input-picture {
    width: auto;
    margin: 1% 10%;
}

}
@media screen and (max-width: 1200px){
    .comment-section {
        margin-left: 5%;
        width: 90%;
        border: 1px solid black;
        margin-bottom: 1%;
    }
    .comment-heading {
        background-color: lightseagreen;
        display: flex;
        border: 1px solid black;
        height: 50px;
    }

    .comment-text {
        margin-top: 20px;
        margin-left: 4px;
        width: 80%;
        margin-bottom: 5%;
    }
    .username-comment{
        margin-left: 10px;
    }

    .warning {
        width: auto;
        border: 1px solid lightseagreen;
    }

    .error-message{
        margin-left: 10%;
        color: black;
        text-decoration: underline;
        height: 20px;
        width: 300px;
    }
    .delete-comment {
        cursor: pointer;
        margin-left: 20px;
    }

    .adjust-comment {
        cursor: pointer;
        margin-left: 30px;

    }
    .comment{
        text-align: start;
        height: auto;
        margin-left: 2%;
    }

}
