.account-page{
    display: block;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}
.profile-picture{
    align-items: center;
    padding-bottom: 100px;
}
.input-game{
    margin-left: 550px;
    margin-bottom: 10px;
    display: flex;
}
.game-button{
    margin-left: 550px;
    margin-bottom: 10px;
    display: flex;
}
