.bericht-pagina{
    width: auto;
    height: auto;
    text-align: center;
    margin: 1% 10% 1% 10%;
    border: 1px solid lightseagreen;
}

.post-title {
    margin-top: 40px;
}

.post-picture{
    align-items: center;
}
